.redactor-content{
	p{		
		font-size: 17px;
		line-height: 1.4;
		padding-bottom: 10px;
	}

	img{
		vertical-align: middle;
		max-width: 100% !important;
		height: auto !important;
	}

	
	ul{
		padding-left: 40px;
		list-style: circle;
	}

	ol {
		padding-left: 40px;
	}	

	li{
		font-size: 17px;
	}


	a{
		color: blue;
		font-weight: 700;

		&:hover{
			text-decoration: underline;
		}
	}

	b, strong{
		font-weight: 700;
	}

	table{
		max-width: 100%;
		width: 100%;
		background-color: #fff;
		border: 0;
		overflow: auto;
	}
	tr{
		&:hover{
			background-color: rgba(0, 0, 0, 0.02);
		}
	}

	th, td{
		padding: 15px;
		border: 0;
		border: 1px solid gray;
	}

	th{
		
	}

	td{
		
	}
}