.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    &_title {
        padding-top: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        position: relative;

        color: #2B2B2B;
        &::before {
            position: absolute;
            content: '';
            width: 205px;
            height: 410px;
            top: -55px;
            left: -100px;
            background: url(../../../public/images/У.svg) no-repeat;
            z-index: -1;
        }
    }
    &_link {
        padding-top: 15px;
        margin-left: 45px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        color: #2B2B2B;
    }
}