.footer {
    margin-top: 150px;
    width: 100%;
    height: 240px;
    background: #6BD698;
    &_info {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            left: 0;
            top: 75px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        }
        &-logo {
            padding-top: 25px;
            padding-left: 60px;
        }
        &-number {
            padding-top: 25px;
            padding-right: 60px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;

            color: #FFFFFF;
        }
    }
    &_fin {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        &-adress {
            padding-left: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            max-width: 295px;

            color: #FFFFFF;
        }
        &-menu {
            & a {
                padding-left: 30px;
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;

                color: rgba(255, 255, 255, 0.5);
                &:hover {
                    color: white;
                    transition: 0.2s ease-out;
                }
            }
        }
        &-social {
            padding-right: 60px;
            & a {
                text-decoration: none;
            }
            & img {
                padding-left: 15px;
            }
        }
    }
    &_p {
        padding-top: 55px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        color: #FFFFFF;
    }
}