.section {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    &_left {
        margin-left: 60px;
        min-height: 600px;
        justify-content: center;
        flex-direction: column;
        display: flex;
        &-title {
            padding-top: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
            max-width: 850px;
            position: relative;

            color: #2B2B2B;
        }
        &::before {
            position: absolute;
            background: url(../../../public/img/img_right.png) right no-repeat;
            background-size: cover;
            content: '';
            min-height: 500px;
            min-width: 900px;
            left: 560px;
            z-index: -1;
        }
        &-subtitle {
            padding-top: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            max-width: 360px;

            color: #2B2B2B;
        }
        & a {
            margin-top: 30px;
            border: 2px solid black;
            max-width: 250px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: #2B2B2B;
            &::before {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                height: 50px;
                bottom: 6px;
                left: 6px;
                z-index: -1;
                transition: 0.4s ease-out;

                background: #6BD698;
            }
            &:hover::before {
                bottom: 0;
                left: 0;
            }
        }
    }
}
    .prices {
        &_title {
            margin-left: 120px;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
            position: relative;

            color: #2B2B2B;
        
        &::after {
            position: absolute;
            content: '';
            left: -55px;
            top: -72px;
            width: 230px;
            height: 410px;
            background: url(../../../public/img/Н.svg) no-repeat;
            z-index: -1;
        }    
        }
    &_block {
        padding-top: 35px;
        display: flex;
        justify-content: space-around;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 160px;
            height: 160px;
            left: 1360px;
            top: 260px;
            background: url(../../../public/img/Vector.svg) no-repeat;
            z-index: -1;
        } 
        &-1 {
            border: 2px solid black;
            height: 435px;
            width: 270px; 
            background: white;
            z-index: 10;
                &-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;
                }
                &-h3 {
                    margin-top: 20px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 29px;
                    text-align: center;

                    color: #000000;
                }
                &-h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 29px;
                    text-align: center;
                    position: relative;

                    color: #6BD698;
                
                &::after {
                    position: absolute;
                    content: '';
                    border-bottom: 2px solid black;
                    max-width: 80px;
                    left: 85px;
                    top: 25px;
                    right: 50px;
                    margin-top: 8px;
                }
            }
                &-p {
                    padding-top: 20px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    max-width: 240px;
                    margin: 0 auto;
                    color: #000000;
                    padding-bottom: 20px;
                }
                & a {
                    border: 2px solid black;
                    max-width: 210px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    margin: 10px auto 0;
        
                    color: #2B2B2B;
                    &::before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 50px;
                        bottom: 6px;
                        left: 6px;
                        z-index: -1;
                        transition: 0.4s ease-out;
        
                        background: #6BD698;
                    }
                    &:hover::before {
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }

.about {
    margin-right: 60px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 160px;
        height: 65px;
        left: 0;
        top: 125px;
        background: url(../../../public/img/Vector1.svg) no-repeat;
    }
    &_title {
        padding-right: 335px;
        padding-top: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        position: relative;

        color: #2B2B2B;
        &::before {
            position: absolute;
            content: '';
            width: 240px;
            height: 410px;
            left: -105px;
            top: 50px;
            background: url(../../../public/img/О.svg) no-repeat;
            z-index: -1;
        }
    }
    &_text {
        padding-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        max-width: 665px;

        color: #2B2B2B;
    }
}

.queston {
    padding-top: 100px;
    margin-left: 150px;
    position: relative;
    ::before {
        position: absolute;
        content: '';
        width: 175px;
        height: 145px;
        left: 1180px;
        top: 140px;
        background: url(../../../public/img/Vector2.svg) no-repeat;
    }
    &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        position: relative;

        color: #2B2B2B;
        &::before {
            position: absolute;
            content: '';
            width: 230px;
            height: 410px;
            left: -95px;
            top: -45px;
            background: url(../../../public/img/Ч.svg) no-repeat;
            z-index: -1;
        }
    }
    &_text {
        padding-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        max-width: 655px;

        color: #2B2B2B;
    }
}

.reviews {
    padding-top: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 160px;
        height: 160px;
        left: 0;
        top: 130px;
        background: url(../../../public/img/Vector3.svg) no-repeat;
    }
    &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        position: relative;

        color: #2B2B2B;
        &::before {
            position: absolute;
            content: '';
            width: 485px;
            height: 410px;
            left: 520px;
            top: -160px;
            background: url(../../../public/img/5.svg) no-repeat;
            z-index: -1;
        }
    }
    &_subtitle {
        padding-top: 50px;
        margin-left: 185px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        position: relative;

        color: #2B2B2B;
        &::after {
            position: absolute;
            content: '';
            width: 900px;
            height: 410px;
            left: -80px;
            top: -85px;
            border: #FFE7BA solid;
            background: #FFE7BA;
            z-index: -1;
        }
    }
    &_text {
        padding-top: 15px;
        margin-left: 490px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 31px;
        max-width: 635px;

        color: #2B2B2B;
    }
}

.lorem {
    padding-top: 200px;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 160px;
        height: 65px;
        left: 1315px;
        top: 500px;
        background: url(../../../public/img/Vector4.svg) no-repeat;
    }
    &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        position: relative;

        color: #2B2B2B;
        &::after {
            position: absolute;
            content: 'O';
            font-family: sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 300px;
            line-height: 409px;
            width: 200px;
            height: 410px;
            top: -170px;
            left: 420px;
            z-index: -1;

            color: #F5F5F5;
        }
    }
    &_subtitle {
        text-align: center;
        padding-top: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        color: #2B2B2B;
    }
    &_form {
        padding-top: 55px;
        &-input {
            display: flex;
            justify-content: center;
            & input {
                margin-left: 40px;
                border: 2px solid #2B2B2B;
                box-sizing: border-box;
                width: 345px;
                height: 55px;
                &::placeholder {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    padding-left: 30px;

                    color: #2B2B2B;
                }
            }
            &-span input {
                width: 230px;
                height: 55px;
            }
        }
        &-text {
            padding-top: 25px;
            padding-left: 40px;
            display: flex;
            justify-content: center;
            & textarea {
                border: 2px solid #2B2B2B;
                box-sizing: border-box;
                width: 1000px;
                height: 110px;
                &::placeholder {
                    padding-top: 15px;
                    padding-left: 30px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;

                    color: #2B2B2B;
                }
            }
        }
    }
    &_text {
        padding-top: 25px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        color: #A4A4A4;
    }  
    & a {
        border: 2px solid black;
        max-width: 210px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 30px auto 0;

        color: #2B2B2B;
        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 50px;
            bottom: 6px;
            left: 6px;
            z-index: -1;
            transition: 0.4s ease-out;

            background: #6BD698;
        }
        &:hover::before {
            bottom: 0;
            left: 0;
        }
    }  
}

.trust {
    &_title {
        padding-left: 60px;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;

        color: #2B2B2B;
    }
    &_link {
        padding-top: 80px;
        display: flex;
        justify-content: space-around;
        &-p1 {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            position: relative;

            color: #2B2B2B;
            &::before {
                position: absolute;
                content: '';
                width: 200px;
                height: 65px;
                left: -30px;
                top: -25px;
                z-index: -1;
                background: url(../../../public/img/google.svg) no-repeat;
            }
        }
        &-p2 {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            position: relative;

            color: #2B2B2B;
            &::before {
                position: absolute;
                content: '';
                width: 80px;
                height: 95px;
                left: 5px;
                top: -40px;
                z-index: -1;
                background: url(../../../public/img/tatil.svg) no-repeat;
            }
        }
        &-p3 {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            position: relative;

            color: #2B2B2B;
            &::before {
                position: absolute;
                content: '';
                width: 140px;
                height: 65px;
                left: -25px;
                top: -25px;
                z-index: -1;
                background: url(../../../public/img/evo.svg) no-repeat;
            }
        }
        &-p4 {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            position: relative;

            color: #2B2B2B;
            &::before {
                position: absolute;
                content: '';
                width: 200px;
                height: 65px;
                left: -30px;
                top: -25px;
                z-index: -1;
                background: url(../../../public/img/google.svg) no-repeat;
            }
        }
    }
}