.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &_menu {
        justify-content: space-around;
        & a {
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            margin: 10px;
            transition: 0.4s ease-out;

            color: #2B2B2B;
        }
        & a:hover {
            color: #6BD698;
            transition: 0.3s;
        }
    }
    &_img {
        display: flex;
        align-items: center;
        & a {
            text-decoration: none;
        }
        &-right {
            margin-left: 25px;
            & img {
                margin-left: 10px;
            }
        }
    }
    &_phone {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        color: #2B2B2B;
    }
}