/*
 * Base
 *
 * Here you include all of your core files
 * like fonts, mixins, variables, e.t.c
 */
@font-face {
  font-family: Agipo;
  src: url('/fonts/agipo_regular-webfont.woff2') format('woff2'), url('/fonts/agipo_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Agipo;
  src: url('/fonts/agipo_bold_condensed-webfont.woff2') format('woff2'), url('/fonts/agipo_bold_condensed-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-50 {
  padding-left: 50px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pr-40 {
  padding-right: 40px;
}
.pb-100 {
  padding-right: 100px;
}
.text-up {
  text-transform: uppercase;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-10 {
  margin-bottom: 15px;
}
.photos img {
  display: inline-block !important;
  text-align: center;
}
.mt-14 {
  margin-top: 14px;
}
.ml-10 {
  margin-left: 20px;
}
.ib {
  display: inline-block;
}
.pt-25 {
  padding-top: 25px;
}
.pl80 {
  padding-left: 80px;
}
.pt-5 {
  padding-top: 3px;
}
.pr-25 {
  padding-right: 25px;
}
.mb-60 {
  margin-bottom: 60px;
}
.vm {
  vertical-align: middle !important;
}
.pl-10 {
  padding-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.oh {
  overflow: hidden;
}
.none {
  visibility: hidden;
}
.mt-25 {
  margin-top: 25px;
}
.mt-80 {
  margin-top: 80px;
}
.index {
  z-index: 10;
}
.mx-50 {
  margin: 0 50px;
}
.ml-3 {
  margin-left: 3em;
}
.bg-white {
  background: white;
}
.relative {
  position: relative;
}
.pt-10 {
  padding-top: 10px;
}
.pt-40 {
  padding-top: 40px;
}
.px-15 {
  padding: 0 15px;
}
.front-index {
  z-index: 99;
}
.top5 {
  top: -6px;
}
.pt5 {
  padding-top: 5px;
}
.br50 {
  border-radius: 50%;
}
.dots {
  display: inline-block;
  width: 260px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.dots-lil {
  display: inline-block;
  width: 160px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.dots-big {
  display: inline-block;
  width: 360px;
  height: 45px;
  overflow: hidden !important;
}
.word-limit {
  max-width: 190px;
  display: inline-block;
}
.display-none {
  display: none;
}
.pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.mr-80 {
  margin-right: 80px;
}
.mt-50 {
  margin-top: 50px;
}
.margin0 {
  margin: 0 !important;
}
.mt-120 {
  margin: 120px 0 0 0 !important;
}
.borders-big {
  position: relative;
}
.borders-big::before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 5;
  border-top: 0px solid transparent;
  border-left: 480px solid #ffffff;
  border-bottom: 70px solid transparent;
  top: 0;
  left: 0;
  right: 0;
}
.borders-big::after {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 80px solid transparent;
  border-right: 500px solid #ffffff;
  border-bottom: 0px solid transparent;
  bottom: 0;
  left: -30px;
  right: 0;
}
.md-float-right {
  display: none;
  vertical-align: text-bottom;
}
.fixed {
  height: 100vh;
}
.auto-width {
  width: auto;
}
.error {
  color: red;
}
.no-padding {
  padding: 0 !important;
}
.pl-30 {
  padding-left: 30px;
}
.hide-item {
  visibility: hidden;
}
.apply {
  padding-left: 10px;
}
.opacity-hide {
  opacity: 0 !important;
}
.pos-fixed {
  position: fixed;
  top: 50px;
}
.mb-70 {
  margin-bottom: 70px;
}
.bold {
  font-weight: bold;
}
.swal-modal {
  font-family: Agipo;
}
.swal-text {
  font-weight: normal !important;
}
.swal-title {
  font-weight: normal !important;
}
.swal-button {
  background-color: #F000FF;
}
.swal-button:hover {
  background-color: #99FF1D !important;
}
/*
 * Global styles
 *
 * Define global styles.
 */
input {
  border-radius: 0;
  border-radius: none;
}
/*
 * Global classes
 * 
 * Define global classes to apply
 * to  your <body/>.
 *
 * Note: Nested selectors allowed.
 */
/* Example */
.nav-opened {
  /* ... */
}
/*
 * Global Media Queries
 *
 * Define global media queries.
 */
/*
 * Responsive breakpoints
 */
/*
 * Font variables
 */
/*
 * <body/> background-color
 */
/*
 * Layout spacing
 *
 * Define layout spacing classes
 * which are applied to fast spacer classes
 * defined in 'utilities/spacer/_layout.less'
 */
/*
 * Component variables
 *
 * Define all of the components variables
 */
/* Used to make simillar UI elements same height */
/*
 * Block variables
 *
 * Define block variables
 */
/*
 * Plug-ins
 *
 * Here you include all of the third-party plugins
 * used in your website like normalize, slick, grid, e.t.c
 */
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@-ms-viewport {
  width: device-width;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1360px) {
  .container {
    width: 1340px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}
*,
:after,
:before {
  box-sizing: border-box;
}
/* Slider */
.slick-slider {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 80px;
  height: 60px;
  z-index: 20;
  background-size: 100% 100%;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
  background: url("/img/arrow.svg") center no-repeat;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '';
}
[dir='rtl'] .slick-prev:before {
  content: '';
}
.slick-next {
  right: -25px;
  background: url("/img/arrowright.svg") center no-repeat;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '';
}
[dir='rtl'] .slick-next:before {
  content: '';
}
/* Dots */
.slick-dots {
  display: block;
  position: absolute;
  bottom: 30px;
  vertical-align: middle;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 60px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\2022';
  text-align: center;
  opacity: 0.25;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}
.iti {
  position: relative;
  width: 100%;
  display: inline-block;
}
.iti * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.iti__hide {
  display: none;
}
.iti__v-hide {
  visibility: hidden;
}
.iti input,
.iti input[type=text],
.iti input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 36px;
  margin-right: 0;
}
.iti__flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
}
.iti__selected-flag {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  padding: 0 6px 0 8px;
}
.iti__arrow {
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.iti__arrow--up {
  border-top: none;
  border-bottom: 4px solid #555;
}
.iti__country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.iti__country-list--dropup {
  bottom: 100%;
  margin-bottom: -1px;
}
@media (max-width: 500px) {
  .iti__country-list {
    white-space: normal;
  }
}
.iti__flag-box {
  display: inline-block;
  width: 20px;
}
.iti__divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
}
.iti__country {
  padding: 5px 10px;
  outline: none;
}
.iti__dial-code {
  color: #999;
}
.iti__country.iti__highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti__flag-box,
.iti__country-name,
.iti__dial-code {
  vertical-align: middle;
}
.iti__flag-box,
.iti__country-name {
  margin-right: 6px;
}
.iti--allow-dropdown input,
.iti--allow-dropdown input[type=text],
.iti--allow-dropdown input[type=tel],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=text],
.iti--separate-dial-code input[type=tel] {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
}
.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  right: auto;
  left: 0;
}
.iti--allow-dropdown .iti__flag-container:hover {
  cursor: pointer;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti--allow-dropdown input[disabled] + .iti__flag-container:hover,
.iti--allow-dropdown input[readonly] + .iti__flag-container:hover {
  cursor: default;
}
.iti--allow-dropdown input[disabled] + .iti__flag-container:hover .iti__selected-flag,
.iti--allow-dropdown input[readonly] + .iti__flag-container:hover .iti__selected-flag {
  background-color: transparent;
}
.iti--separate-dial-code .iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti--separate-dial-code .iti__selected-dial-code {
  margin-left: 6px;
}
.iti--container {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
  padding: 1px;
}
.iti--container:hover {
  cursor: pointer;
}
.iti-mobile .iti--container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed;
}
.iti-mobile .iti__country-list {
  max-height: 100%;
  width: 100%;
}
.iti-mobile .iti__country {
  padding: 10px 10px;
  line-height: 1.5em;
}
.iti__flag {
  width: 20px;
}
.iti__flag.iti__be {
  width: 18px;
}
.iti__flag.iti__ch {
  width: 15px;
}
.iti__flag.iti__mc {
  width: 19px;
}
.iti__flag.iti__ne {
  width: 18px;
}
.iti__flag.iti__np {
  width: 13px;
}
.iti__flag.iti__va {
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-size: 5652px 15px;
  }
}
.iti__flag.iti__ac {
  height: 10px;
  background-position: 0px 0px;
}
.iti__flag.iti__ad {
  height: 14px;
  background-position: -22px 0px;
}
.iti__flag.iti__ae {
  height: 10px;
  background-position: -44px 0px;
}
.iti__flag.iti__af {
  height: 14px;
  background-position: -66px 0px;
}
.iti__flag.iti__ag {
  height: 14px;
  background-position: -88px 0px;
}
.iti__flag.iti__ai {
  height: 10px;
  background-position: -110px 0px;
}
.iti__flag.iti__al {
  height: 15px;
  background-position: -132px 0px;
}
.iti__flag.iti__am {
  height: 10px;
  background-position: -154px 0px;
}
.iti__flag.iti__ao {
  height: 14px;
  background-position: -176px 0px;
}
.iti__flag.iti__aq {
  height: 14px;
  background-position: -198px 0px;
}
.iti__flag.iti__ar {
  height: 13px;
  background-position: -220px 0px;
}
.iti__flag.iti__as {
  height: 10px;
  background-position: -242px 0px;
}
.iti__flag.iti__at {
  height: 14px;
  background-position: -264px 0px;
}
.iti__flag.iti__au {
  height: 10px;
  background-position: -286px 0px;
}
.iti__flag.iti__aw {
  height: 14px;
  background-position: -308px 0px;
}
.iti__flag.iti__ax {
  height: 13px;
  background-position: -330px 0px;
}
.iti__flag.iti__az {
  height: 10px;
  background-position: -352px 0px;
}
.iti__flag.iti__ba {
  height: 10px;
  background-position: -374px 0px;
}
.iti__flag.iti__bb {
  height: 14px;
  background-position: -396px 0px;
}
.iti__flag.iti__bd {
  height: 12px;
  background-position: -418px 0px;
}
.iti__flag.iti__be {
  height: 15px;
  background-position: -440px 0px;
}
.iti__flag.iti__bf {
  height: 14px;
  background-position: -460px 0px;
}
.iti__flag.iti__bg {
  height: 12px;
  background-position: -482px 0px;
}
.iti__flag.iti__bh {
  height: 12px;
  background-position: -504px 0px;
}
.iti__flag.iti__bi {
  height: 12px;
  background-position: -526px 0px;
}
.iti__flag.iti__bj {
  height: 14px;
  background-position: -548px 0px;
}
.iti__flag.iti__bl {
  height: 14px;
  background-position: -570px 0px;
}
.iti__flag.iti__bm {
  height: 10px;
  background-position: -592px 0px;
}
.iti__flag.iti__bn {
  height: 10px;
  background-position: -614px 0px;
}
.iti__flag.iti__bo {
  height: 14px;
  background-position: -636px 0px;
}
.iti__flag.iti__bq {
  height: 14px;
  background-position: -658px 0px;
}
.iti__flag.iti__br {
  height: 14px;
  background-position: -680px 0px;
}
.iti__flag.iti__bs {
  height: 10px;
  background-position: -702px 0px;
}
.iti__flag.iti__bt {
  height: 14px;
  background-position: -724px 0px;
}
.iti__flag.iti__bv {
  height: 15px;
  background-position: -746px 0px;
}
.iti__flag.iti__bw {
  height: 14px;
  background-position: -768px 0px;
}
.iti__flag.iti__by {
  height: 10px;
  background-position: -790px 0px;
}
.iti__flag.iti__bz {
  height: 14px;
  background-position: -812px 0px;
}
.iti__flag.iti__ca {
  height: 10px;
  background-position: -834px 0px;
}
.iti__flag.iti__cc {
  height: 10px;
  background-position: -856px 0px;
}
.iti__flag.iti__cd {
  height: 15px;
  background-position: -878px 0px;
}
.iti__flag.iti__cf {
  height: 14px;
  background-position: -900px 0px;
}
.iti__flag.iti__cg {
  height: 14px;
  background-position: -922px 0px;
}
.iti__flag.iti__ch {
  height: 15px;
  background-position: -944px 0px;
}
.iti__flag.iti__ci {
  height: 14px;
  background-position: -961px 0px;
}
.iti__flag.iti__ck {
  height: 10px;
  background-position: -983px 0px;
}
.iti__flag.iti__cl {
  height: 14px;
  background-position: -1005px 0px;
}
.iti__flag.iti__cm {
  height: 14px;
  background-position: -1027px 0px;
}
.iti__flag.iti__cn {
  height: 14px;
  background-position: -1049px 0px;
}
.iti__flag.iti__co {
  height: 14px;
  background-position: -1071px 0px;
}
.iti__flag.iti__cp {
  height: 14px;
  background-position: -1093px 0px;
}
.iti__flag.iti__cr {
  height: 12px;
  background-position: -1115px 0px;
}
.iti__flag.iti__cu {
  height: 10px;
  background-position: -1137px 0px;
}
.iti__flag.iti__cv {
  height: 12px;
  background-position: -1159px 0px;
}
.iti__flag.iti__cw {
  height: 14px;
  background-position: -1181px 0px;
}
.iti__flag.iti__cx {
  height: 10px;
  background-position: -1203px 0px;
}
.iti__flag.iti__cy {
  height: 14px;
  background-position: -1225px 0px;
}
.iti__flag.iti__cz {
  height: 14px;
  background-position: -1247px 0px;
}
.iti__flag.iti__de {
  height: 12px;
  background-position: -1269px 0px;
}
.iti__flag.iti__dg {
  height: 10px;
  background-position: -1291px 0px;
}
.iti__flag.iti__dj {
  height: 14px;
  background-position: -1313px 0px;
}
.iti__flag.iti__dk {
  height: 15px;
  background-position: -1335px 0px;
}
.iti__flag.iti__dm {
  height: 10px;
  background-position: -1357px 0px;
}
.iti__flag.iti__do {
  height: 14px;
  background-position: -1379px 0px;
}
.iti__flag.iti__dz {
  height: 14px;
  background-position: -1401px 0px;
}
.iti__flag.iti__ea {
  height: 14px;
  background-position: -1423px 0px;
}
.iti__flag.iti__ec {
  height: 14px;
  background-position: -1445px 0px;
}
.iti__flag.iti__ee {
  height: 13px;
  background-position: -1467px 0px;
}
.iti__flag.iti__eg {
  height: 14px;
  background-position: -1489px 0px;
}
.iti__flag.iti__eh {
  height: 10px;
  background-position: -1511px 0px;
}
.iti__flag.iti__er {
  height: 10px;
  background-position: -1533px 0px;
}
.iti__flag.iti__es {
  height: 14px;
  background-position: -1555px 0px;
}
.iti__flag.iti__et {
  height: 10px;
  background-position: -1577px 0px;
}
.iti__flag.iti__eu {
  height: 14px;
  background-position: -1599px 0px;
}
.iti__flag.iti__fi {
  height: 12px;
  background-position: -1621px 0px;
}
.iti__flag.iti__fj {
  height: 10px;
  background-position: -1643px 0px;
}
.iti__flag.iti__fk {
  height: 10px;
  background-position: -1665px 0px;
}
.iti__flag.iti__fm {
  height: 11px;
  background-position: -1687px 0px;
}
.iti__flag.iti__fo {
  height: 15px;
  background-position: -1709px 0px;
}
.iti__flag.iti__fr {
  height: 14px;
  background-position: -1731px 0px;
}
.iti__flag.iti__ga {
  height: 15px;
  background-position: -1753px 0px;
}
.iti__flag.iti__gb {
  height: 10px;
  background-position: -1775px 0px;
}
.iti__flag.iti__gd {
  height: 12px;
  background-position: -1797px 0px;
}
.iti__flag.iti__ge {
  height: 14px;
  background-position: -1819px 0px;
}
.iti__flag.iti__gf {
  height: 14px;
  background-position: -1841px 0px;
}
.iti__flag.iti__gg {
  height: 14px;
  background-position: -1863px 0px;
}
.iti__flag.iti__gh {
  height: 14px;
  background-position: -1885px 0px;
}
.iti__flag.iti__gi {
  height: 10px;
  background-position: -1907px 0px;
}
.iti__flag.iti__gl {
  height: 14px;
  background-position: -1929px 0px;
}
.iti__flag.iti__gm {
  height: 14px;
  background-position: -1951px 0px;
}
.iti__flag.iti__gn {
  height: 14px;
  background-position: -1973px 0px;
}
.iti__flag.iti__gp {
  height: 14px;
  background-position: -1995px 0px;
}
.iti__flag.iti__gq {
  height: 14px;
  background-position: -2017px 0px;
}
.iti__flag.iti__gr {
  height: 14px;
  background-position: -2039px 0px;
}
.iti__flag.iti__gs {
  height: 10px;
  background-position: -2061px 0px;
}
.iti__flag.iti__gt {
  height: 13px;
  background-position: -2083px 0px;
}
.iti__flag.iti__gu {
  height: 11px;
  background-position: -2105px 0px;
}
.iti__flag.iti__gw {
  height: 10px;
  background-position: -2127px 0px;
}
.iti__flag.iti__gy {
  height: 12px;
  background-position: -2149px 0px;
}
.iti__flag.iti__hk {
  height: 14px;
  background-position: -2171px 0px;
}
.iti__flag.iti__hm {
  height: 10px;
  background-position: -2193px 0px;
}
.iti__flag.iti__hn {
  height: 10px;
  background-position: -2215px 0px;
}
.iti__flag.iti__hr {
  height: 10px;
  background-position: -2237px 0px;
}
.iti__flag.iti__ht {
  height: 12px;
  background-position: -2259px 0px;
}
.iti__flag.iti__hu {
  height: 10px;
  background-position: -2281px 0px;
}
.iti__flag.iti__ic {
  height: 14px;
  background-position: -2303px 0px;
}
.iti__flag.iti__id {
  height: 14px;
  background-position: -2325px 0px;
}
.iti__flag.iti__ie {
  height: 10px;
  background-position: -2347px 0px;
}
.iti__flag.iti__il {
  height: 15px;
  background-position: -2369px 0px;
}
.iti__flag.iti__im {
  height: 10px;
  background-position: -2391px 0px;
}
.iti__flag.iti__in {
  height: 14px;
  background-position: -2413px 0px;
}
.iti__flag.iti__io {
  height: 10px;
  background-position: -2435px 0px;
}
.iti__flag.iti__iq {
  height: 14px;
  background-position: -2457px 0px;
}
.iti__flag.iti__ir {
  height: 12px;
  background-position: -2479px 0px;
}
.iti__flag.iti__is {
  height: 15px;
  background-position: -2501px 0px;
}
.iti__flag.iti__it {
  height: 14px;
  background-position: -2523px 0px;
}
.iti__flag.iti__je {
  height: 12px;
  background-position: -2545px 0px;
}
.iti__flag.iti__jm {
  height: 10px;
  background-position: -2567px 0px;
}
.iti__flag.iti__jo {
  height: 10px;
  background-position: -2589px 0px;
}
.iti__flag.iti__jp {
  height: 14px;
  background-position: -2611px 0px;
}
.iti__flag.iti__ke {
  height: 14px;
  background-position: -2633px 0px;
}
.iti__flag.iti__kg {
  height: 12px;
  background-position: -2655px 0px;
}
.iti__flag.iti__kh {
  height: 13px;
  background-position: -2677px 0px;
}
.iti__flag.iti__ki {
  height: 10px;
  background-position: -2699px 0px;
}
.iti__flag.iti__km {
  height: 12px;
  background-position: -2721px 0px;
}
.iti__flag.iti__kn {
  height: 14px;
  background-position: -2743px 0px;
}
.iti__flag.iti__kp {
  height: 10px;
  background-position: -2765px 0px;
}
.iti__flag.iti__kr {
  height: 14px;
  background-position: -2787px 0px;
}
.iti__flag.iti__kw {
  height: 10px;
  background-position: -2809px 0px;
}
.iti__flag.iti__ky {
  height: 10px;
  background-position: -2831px 0px;
}
.iti__flag.iti__kz {
  height: 10px;
  background-position: -2853px 0px;
}
.iti__flag.iti__la {
  height: 14px;
  background-position: -2875px 0px;
}
.iti__flag.iti__lb {
  height: 14px;
  background-position: -2897px 0px;
}
.iti__flag.iti__lc {
  height: 10px;
  background-position: -2919px 0px;
}
.iti__flag.iti__li {
  height: 12px;
  background-position: -2941px 0px;
}
.iti__flag.iti__lk {
  height: 10px;
  background-position: -2963px 0px;
}
.iti__flag.iti__lr {
  height: 11px;
  background-position: -2985px 0px;
}
.iti__flag.iti__ls {
  height: 14px;
  background-position: -3007px 0px;
}
.iti__flag.iti__lt {
  height: 12px;
  background-position: -3029px 0px;
}
.iti__flag.iti__lu {
  height: 12px;
  background-position: -3051px 0px;
}
.iti__flag.iti__lv {
  height: 10px;
  background-position: -3073px 0px;
}
.iti__flag.iti__ly {
  height: 10px;
  background-position: -3095px 0px;
}
.iti__flag.iti__ma {
  height: 14px;
  background-position: -3117px 0px;
}
.iti__flag.iti__mc {
  height: 15px;
  background-position: -3139px 0px;
}
.iti__flag.iti__md {
  height: 10px;
  background-position: -3160px 0px;
}
.iti__flag.iti__me {
  height: 10px;
  background-position: -3182px 0px;
}
.iti__flag.iti__mf {
  height: 14px;
  background-position: -3204px 0px;
}
.iti__flag.iti__mg {
  height: 14px;
  background-position: -3226px 0px;
}
.iti__flag.iti__mh {
  height: 11px;
  background-position: -3248px 0px;
}
.iti__flag.iti__mk {
  height: 10px;
  background-position: -3270px 0px;
}
.iti__flag.iti__ml {
  height: 14px;
  background-position: -3292px 0px;
}
.iti__flag.iti__mm {
  height: 14px;
  background-position: -3314px 0px;
}
.iti__flag.iti__mn {
  height: 10px;
  background-position: -3336px 0px;
}
.iti__flag.iti__mo {
  height: 14px;
  background-position: -3358px 0px;
}
.iti__flag.iti__mp {
  height: 10px;
  background-position: -3380px 0px;
}
.iti__flag.iti__mq {
  height: 14px;
  background-position: -3402px 0px;
}
.iti__flag.iti__mr {
  height: 14px;
  background-position: -3424px 0px;
}
.iti__flag.iti__ms {
  height: 10px;
  background-position: -3446px 0px;
}
.iti__flag.iti__mt {
  height: 14px;
  background-position: -3468px 0px;
}
.iti__flag.iti__mu {
  height: 14px;
  background-position: -3490px 0px;
}
.iti__flag.iti__mv {
  height: 14px;
  background-position: -3512px 0px;
}
.iti__flag.iti__mw {
  height: 14px;
  background-position: -3534px 0px;
}
.iti__flag.iti__mx {
  height: 12px;
  background-position: -3556px 0px;
}
.iti__flag.iti__my {
  height: 10px;
  background-position: -3578px 0px;
}
.iti__flag.iti__mz {
  height: 14px;
  background-position: -3600px 0px;
}
.iti__flag.iti__na {
  height: 14px;
  background-position: -3622px 0px;
}
.iti__flag.iti__nc {
  height: 10px;
  background-position: -3644px 0px;
}
.iti__flag.iti__ne {
  height: 15px;
  background-position: -3666px 0px;
}
.iti__flag.iti__nf {
  height: 10px;
  background-position: -3686px 0px;
}
.iti__flag.iti__ng {
  height: 10px;
  background-position: -3708px 0px;
}
.iti__flag.iti__ni {
  height: 12px;
  background-position: -3730px 0px;
}
.iti__flag.iti__nl {
  height: 14px;
  background-position: -3752px 0px;
}
.iti__flag.iti__no {
  height: 15px;
  background-position: -3774px 0px;
}
.iti__flag.iti__np {
  height: 15px;
  background-position: -3796px 0px;
}
.iti__flag.iti__nr {
  height: 10px;
  background-position: -3811px 0px;
}
.iti__flag.iti__nu {
  height: 10px;
  background-position: -3833px 0px;
}
.iti__flag.iti__nz {
  height: 10px;
  background-position: -3855px 0px;
}
.iti__flag.iti__om {
  height: 10px;
  background-position: -3877px 0px;
}
.iti__flag.iti__pa {
  height: 14px;
  background-position: -3899px 0px;
}
.iti__flag.iti__pe {
  height: 14px;
  background-position: -3921px 0px;
}
.iti__flag.iti__pf {
  height: 14px;
  background-position: -3943px 0px;
}
.iti__flag.iti__pg {
  height: 15px;
  background-position: -3965px 0px;
}
.iti__flag.iti__ph {
  height: 10px;
  background-position: -3987px 0px;
}
.iti__flag.iti__pk {
  height: 14px;
  background-position: -4009px 0px;
}
.iti__flag.iti__pl {
  height: 13px;
  background-position: -4031px 0px;
}
.iti__flag.iti__pm {
  height: 14px;
  background-position: -4053px 0px;
}
.iti__flag.iti__pn {
  height: 10px;
  background-position: -4075px 0px;
}
.iti__flag.iti__pr {
  height: 14px;
  background-position: -4097px 0px;
}
.iti__flag.iti__ps {
  height: 10px;
  background-position: -4119px 0px;
}
.iti__flag.iti__pt {
  height: 14px;
  background-position: -4141px 0px;
}
.iti__flag.iti__pw {
  height: 13px;
  background-position: -4163px 0px;
}
.iti__flag.iti__py {
  height: 11px;
  background-position: -4185px 0px;
}
.iti__flag.iti__qa {
  height: 8px;
  background-position: -4207px 0px;
}
.iti__flag.iti__re {
  height: 14px;
  background-position: -4229px 0px;
}
.iti__flag.iti__ro {
  height: 14px;
  background-position: -4251px 0px;
}
.iti__flag.iti__rs {
  height: 14px;
  background-position: -4273px 0px;
}
.iti__flag.iti__ru {
  height: 14px;
  background-position: -4295px 0px;
}
.iti__flag.iti__rw {
  height: 14px;
  background-position: -4317px 0px;
}
.iti__flag.iti__sa {
  height: 14px;
  background-position: -4339px 0px;
}
.iti__flag.iti__sb {
  height: 10px;
  background-position: -4361px 0px;
}
.iti__flag.iti__sc {
  height: 10px;
  background-position: -4383px 0px;
}
.iti__flag.iti__sd {
  height: 10px;
  background-position: -4405px 0px;
}
.iti__flag.iti__se {
  height: 13px;
  background-position: -4427px 0px;
}
.iti__flag.iti__sg {
  height: 14px;
  background-position: -4449px 0px;
}
.iti__flag.iti__sh {
  height: 10px;
  background-position: -4471px 0px;
}
.iti__flag.iti__si {
  height: 10px;
  background-position: -4493px 0px;
}
.iti__flag.iti__sj {
  height: 15px;
  background-position: -4515px 0px;
}
.iti__flag.iti__sk {
  height: 14px;
  background-position: -4537px 0px;
}
.iti__flag.iti__sl {
  height: 14px;
  background-position: -4559px 0px;
}
.iti__flag.iti__sm {
  height: 15px;
  background-position: -4581px 0px;
}
.iti__flag.iti__sn {
  height: 14px;
  background-position: -4603px 0px;
}
.iti__flag.iti__so {
  height: 14px;
  background-position: -4625px 0px;
}
.iti__flag.iti__sr {
  height: 14px;
  background-position: -4647px 0px;
}
.iti__flag.iti__ss {
  height: 10px;
  background-position: -4669px 0px;
}
.iti__flag.iti__st {
  height: 10px;
  background-position: -4691px 0px;
}
.iti__flag.iti__sv {
  height: 12px;
  background-position: -4713px 0px;
}
.iti__flag.iti__sx {
  height: 14px;
  background-position: -4735px 0px;
}
.iti__flag.iti__sy {
  height: 14px;
  background-position: -4757px 0px;
}
.iti__flag.iti__sz {
  height: 14px;
  background-position: -4779px 0px;
}
.iti__flag.iti__ta {
  height: 10px;
  background-position: -4801px 0px;
}
.iti__flag.iti__tc {
  height: 10px;
  background-position: -4823px 0px;
}
.iti__flag.iti__td {
  height: 14px;
  background-position: -4845px 0px;
}
.iti__flag.iti__tf {
  height: 14px;
  background-position: -4867px 0px;
}
.iti__flag.iti__tg {
  height: 13px;
  background-position: -4889px 0px;
}
.iti__flag.iti__th {
  height: 14px;
  background-position: -4911px 0px;
}
.iti__flag.iti__tj {
  height: 10px;
  background-position: -4933px 0px;
}
.iti__flag.iti__tk {
  height: 10px;
  background-position: -4955px 0px;
}
.iti__flag.iti__tl {
  height: 10px;
  background-position: -4977px 0px;
}
.iti__flag.iti__tm {
  height: 14px;
  background-position: -4999px 0px;
}
.iti__flag.iti__tn {
  height: 14px;
  background-position: -5021px 0px;
}
.iti__flag.iti__to {
  height: 10px;
  background-position: -5043px 0px;
}
.iti__flag.iti__tr {
  height: 14px;
  background-position: -5065px 0px;
}
.iti__flag.iti__tt {
  height: 12px;
  background-position: -5087px 0px;
}
.iti__flag.iti__tv {
  height: 10px;
  background-position: -5109px 0px;
}
.iti__flag.iti__tw {
  height: 14px;
  background-position: -5131px 0px;
}
.iti__flag.iti__tz {
  height: 14px;
  background-position: -5153px 0px;
}
.iti__flag.iti__ua {
  height: 14px;
  background-position: -5175px 0px;
}
.iti__flag.iti__ug {
  height: 14px;
  background-position: -5197px 0px;
}
.iti__flag.iti__um {
  height: 11px;
  background-position: -5219px 0px;
}
.iti__flag.iti__un {
  height: 14px;
  background-position: -5241px 0px;
}
.iti__flag.iti__us {
  height: 11px;
  background-position: -5263px 0px;
}
.iti__flag.iti__uy {
  height: 14px;
  background-position: -5285px 0px;
}
.iti__flag.iti__uz {
  height: 10px;
  background-position: -5307px 0px;
}
.iti__flag.iti__va {
  height: 15px;
  background-position: -5329px 0px;
}
.iti__flag.iti__vc {
  height: 14px;
  background-position: -5346px 0px;
}
.iti__flag.iti__ve {
  height: 14px;
  background-position: -5368px 0px;
}
.iti__flag.iti__vg {
  height: 10px;
  background-position: -5390px 0px;
}
.iti__flag.iti__vi {
  height: 14px;
  background-position: -5412px 0px;
}
.iti__flag.iti__vn {
  height: 14px;
  background-position: -5434px 0px;
}
.iti__flag.iti__vu {
  height: 12px;
  background-position: -5456px 0px;
}
.iti__flag.iti__wf {
  height: 14px;
  background-position: -5478px 0px;
}
.iti__flag.iti__ws {
  height: 10px;
  background-position: -5500px 0px;
}
.iti__flag.iti__xk {
  height: 15px;
  background-position: -5522px 0px;
}
.iti__flag.iti__ye {
  height: 14px;
  background-position: -5544px 0px;
}
.iti__flag.iti__yt {
  height: 14px;
  background-position: -5566px 0px;
}
.iti__flag.iti__za {
  height: 14px;
  background-position: -5588px 0px;
}
.iti__flag.iti__zm {
  height: 14px;
  background-position: -5610px 0px;
}
.iti__flag.iti__zw {
  height: 10px;
  background-position: -5632px 0px;
}
.iti__flag {
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("/img/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("/img/flags@2x.png");
  }
}
.iti__flag.iti__np {
  background-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul {
  list-style: none;
}
/*
 * Blocks
 *
 * Here you include all of your main modules
 * which builds up your structure like
 * header, content, footer, e.t.c
 */
.nav {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}
.nav_menu {
  justify-content: space-around;
}
.nav_menu a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: #2B2B2B;
}
.nav_menu a:hover {
  color: #6BD698;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav_img {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.nav_img a {
  text-decoration: none;
}
.nav_img-right {
  margin-left: 25px;
}
.nav_img-right img {
  margin-left: 10px;
}
.nav_phone {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2B2B2B;
}
.info {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.info_title {
  padding-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  position: relative;
  color: #2B2B2B;
}
.info_title::before {
  position: absolute;
  content: '';
  width: 205px;
  height: 410px;
  top: -55px;
  left: -100px;
  background: url(/images/У.svg?bc6e2728e02c5ebac917020487a0a2c2) no-repeat;
  z-index: -1;
}
.info_link {
  padding-top: 15px;
  margin-left: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2B2B2B;
}
.section {
  padding-top: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.section_left {
  margin-left: 60px;
  min-height: 600px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  display: -webkit-box;
  display: flex;
}
.section_left-title {
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  max-width: 850px;
  position: relative;
  color: #2B2B2B;
}
.section_left::before {
  position: absolute;
  background: url(/images/img_right.png?7502928908a6a0896f16855989deaad4) right no-repeat;
  background-size: cover;
  content: '';
  min-height: 500px;
  min-width: 900px;
  left: 560px;
  z-index: -1;
}
.section_left-subtitle {
  padding-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  max-width: 360px;
  color: #2B2B2B;
}
.section_left a {
  margin-top: 30px;
  border: 2px solid black;
  max-width: 250px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.section_left a::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  bottom: 6px;
  left: 6px;
  z-index: -1;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background: #6BD698;
}
.section_left a:hover::before {
  bottom: 0;
  left: 0;
}
.prices_title {
  margin-left: 120px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  position: relative;
  color: #2B2B2B;
}
.prices_title::after {
  position: absolute;
  content: '';
  left: -55px;
  top: -72px;
  width: 230px;
  height: 410px;
  background: url(/images/Н.svg?3583cf4f4517739f979dfbb1a60d0511) no-repeat;
  z-index: -1;
}
.prices_block {
  padding-top: 35px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.prices_block::after {
  position: absolute;
  content: '';
  width: 160px;
  height: 160px;
  left: 1360px;
  top: 260px;
  background: url(/images/Vector.svg?8a9cc037eb89fd241d1f02843af38fc1) no-repeat;
  z-index: -1;
}
.prices_block-1 {
  border: 2px solid black;
  height: 435px;
  width: 270px;
  background: white;
  z-index: 10;
}
.prices_block-1-img {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.prices_block-1-h3 {
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.prices_block-1-h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  position: relative;
  color: #6BD698;
}
.prices_block-1-h4::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid black;
  max-width: 80px;
  left: 85px;
  top: 25px;
  right: 50px;
  margin-top: 8px;
}
.prices_block-1-p {
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  max-width: 240px;
  margin: 0 auto;
  color: #000000;
  padding-bottom: 20px;
}
.prices_block-1 a {
  border: 2px solid black;
  max-width: 210px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 10px auto 0;
  color: #2B2B2B;
}
.prices_block-1 a::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  bottom: 6px;
  left: 6px;
  z-index: -1;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background: #6BD698;
}
.prices_block-1 a:hover::before {
  bottom: 0;
  left: 0;
}
.about {
  margin-right: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
}
.about::after {
  position: absolute;
  content: '';
  width: 160px;
  height: 65px;
  left: 0;
  top: 125px;
  background: url(/images/Vector1.svg?6f14928b129074fa9cd2651ca7807f6f) no-repeat;
}
.about_title {
  padding-right: 335px;
  padding-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  position: relative;
  color: #2B2B2B;
}
.about_title::before {
  position: absolute;
  content: '';
  width: 240px;
  height: 410px;
  left: -105px;
  top: 50px;
  background: url(/images/О.svg?1c65957548b703340aab1107ce83a753) no-repeat;
  z-index: -1;
}
.about_text {
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  max-width: 665px;
  color: #2B2B2B;
}
.queston {
  padding-top: 100px;
  margin-left: 150px;
  position: relative;
}
.queston ::before {
  position: absolute;
  content: '';
  width: 175px;
  height: 145px;
  left: 1180px;
  top: 140px;
  background: url(/images/Vector2.svg?d2b20b5983707eceb9980f6a5ccb1947) no-repeat;
}
.queston_title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  position: relative;
  color: #2B2B2B;
}
.queston_title::before {
  position: absolute;
  content: '';
  width: 230px;
  height: 410px;
  left: -95px;
  top: -45px;
  background: url(/images/Ч.svg?4092c97050fda87fb8c04967db59a3aa) no-repeat;
  z-index: -1;
}
.queston_text {
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  max-width: 655px;
  color: #2B2B2B;
}
.reviews {
  padding-top: 250px;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
}
.reviews::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 160px;
  left: 0;
  top: 130px;
  background: url(/images/Vector3.svg?4bcf9892b5e5a076e9193710ed27fd28) no-repeat;
}
.reviews_title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  position: relative;
  color: #2B2B2B;
}
.reviews_title::before {
  position: absolute;
  content: '';
  width: 485px;
  height: 410px;
  left: 520px;
  top: -160px;
  background: url(/images/5.svg?d087a734b3f841fa029050c57e40a3a7) no-repeat;
  z-index: -1;
}
.reviews_subtitle {
  padding-top: 50px;
  margin-left: 185px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  position: relative;
  color: #2B2B2B;
}
.reviews_subtitle::after {
  position: absolute;
  content: '';
  width: 900px;
  height: 410px;
  left: -80px;
  top: -85px;
  border: #FFE7BA solid;
  background: #FFE7BA;
  z-index: -1;
}
.reviews_text {
  padding-top: 15px;
  margin-left: 490px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  max-width: 635px;
  color: #2B2B2B;
}
.lorem {
  padding-top: 200px;
  position: relative;
}
.lorem::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 65px;
  left: 1315px;
  top: 500px;
  background: url(/images/Vector4.svg?2db79a4fd6536dd55b667892c6c1f0e0) no-repeat;
}
.lorem_title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  position: relative;
  color: #2B2B2B;
}
.lorem_title::after {
  position: absolute;
  content: 'O';
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 300px;
  line-height: 409px;
  width: 200px;
  height: 410px;
  top: -170px;
  left: 420px;
  z-index: -1;
  color: #F5F5F5;
}
.lorem_subtitle {
  text-align: center;
  padding-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.lorem_form {
  padding-top: 55px;
}
.lorem_form-input {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.lorem_form-input input {
  margin-left: 40px;
  border: 2px solid #2B2B2B;
  box-sizing: border-box;
  width: 345px;
  height: 55px;
}
.lorem_form-input input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
  color: #2B2B2B;
}
.lorem_form-input input::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
  color: #2B2B2B;
}
.lorem_form-input input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
  color: #2B2B2B;
}
.lorem_form-input input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
  color: #2B2B2B;
}
.lorem_form-input input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
  color: #2B2B2B;
}
.lorem_form-input-span input {
  width: 230px;
  height: 55px;
}
.lorem_form-text {
  padding-top: 25px;
  padding-left: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.lorem_form-text textarea {
  border: 2px solid #2B2B2B;
  box-sizing: border-box;
  width: 1000px;
  height: 110px;
}
.lorem_form-text textarea::-webkit-input-placeholder {
  padding-top: 15px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.lorem_form-text textarea::-moz-placeholder {
  padding-top: 15px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.lorem_form-text textarea:-ms-input-placeholder {
  padding-top: 15px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.lorem_form-text textarea::-ms-input-placeholder {
  padding-top: 15px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.lorem_form-text textarea::placeholder {
  padding-top: 15px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.lorem_text {
  padding-top: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #A4A4A4;
}
.lorem a {
  border: 2px solid black;
  max-width: 210px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 30px auto 0;
  color: #2B2B2B;
}
.lorem a::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  bottom: 6px;
  left: 6px;
  z-index: -1;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background: #6BD698;
}
.lorem a:hover::before {
  bottom: 0;
  left: 0;
}
.trust_title {
  padding-left: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #2B2B2B;
}
.trust_link {
  padding-top: 80px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}
.trust_link-p1 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  position: relative;
  color: #2B2B2B;
}
.trust_link-p1::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 65px;
  left: -30px;
  top: -25px;
  z-index: -1;
  background: url(/images/google.svg?e099c77ebfcf9a825a962cd4d346494f) no-repeat;
}
.trust_link-p2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  position: relative;
  color: #2B2B2B;
}
.trust_link-p2::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 95px;
  left: 5px;
  top: -40px;
  z-index: -1;
  background: url(/images/tatil.svg?01b63eaefab594357efd6f4d73158bf9) no-repeat;
}
.trust_link-p3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  position: relative;
  color: #2B2B2B;
}
.trust_link-p3::before {
  position: absolute;
  content: '';
  width: 140px;
  height: 65px;
  left: -25px;
  top: -25px;
  z-index: -1;
  background: url(/images/evo.svg?fbc64f03f1b87a15d44c64cbc5812683) no-repeat;
}
.trust_link-p4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  position: relative;
  color: #2B2B2B;
}
.trust_link-p4::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 65px;
  left: -30px;
  top: -25px;
  z-index: -1;
  background: url(/images/google.svg?e099c77ebfcf9a825a962cd4d346494f) no-repeat;
}
.footer {
  margin-top: 150px;
  width: 100%;
  height: 240px;
  background: #6BD698;
}
.footer_info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer_info::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  top: 75px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.footer_info-logo {
  padding-top: 25px;
  padding-left: 60px;
}
.footer_info-number {
  padding-top: 25px;
  padding-right: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer_fin {
  padding-top: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.footer_fin-adress {
  padding-left: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 295px;
  color: #FFFFFF;
}
.footer_fin-menu a {
  padding-left: 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.footer_fin-menu a:hover {
  color: white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.footer_fin-social {
  padding-right: 60px;
}
.footer_fin-social a {
  text-decoration: none;
}
.footer_fin-social img {
  padding-left: 15px;
}
.footer_p {
  padding-top: 55px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
/*
 * Components
 *
 * Here you include small & reusable pieces (components)
 * of your website like UI Buttons, Inputs, Checkboxes, Cards e.t.c
 */
/*
 * UI Button
 *  
 * Create UI Buttons using this module.
 *
 * Note: To create new type of button
 *       first extend '.btn-base'.
 */
/*
 * Base for all buttons 
 */
.btn-base {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  /* Prevent user from selecting the UI element */
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
/*
 * Simple button
 */
.btn {
  /* Extend base btn */
  color: white;
  padding: 2px 16px;
  background: transparent;
  border: 1px white solid;
  border-radius: 8px;
  font-size: 18px;
  display: inline-block;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}
.btn--big {
  padding: 12px 48px;
}
/*
 * Text
 *  
 * Create a paragraph or any text with
 * styles shared throughout your website
 */
.text {
  /* ... */
}
/* 
 * Font icon module 
 * 
 * Use if you have font icons, fill with icon classes
 */
/*
 * Site Logo 
 *
 * Here you define your base logo styles
 * it may be reused throughout your website
 */
.logo {
  background: no-repeat center;
}
/*
 * UI Input
 *  
 * Create UI Inputs using this module
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*
 * Title
 *  
 * Create a title
 * styles shared throughout your website
 */
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: none;
  overflow: hidden;
  background-color: transparent;
}
.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger__inner {
  -webkit-transform: translate(-51px, 50%);
          transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
  -webkit-transform: translate(102px, 0);
          transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  opacity: 1;
}
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  opacity: 1;
  -webkit-transform: translate(0px, 0);
          transform: translate(0px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  -webkit-transform: translate(0, 13px) rotate(90deg);
          transform: translate(0, 13px) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0, -13px) rotate(0);
          transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #99FF1D;
  top: 50%;
  -webkit-transform: translate(51px, -50%);
          transform: translate(51px, -50%);
}
.hamburger__hidden::before,
.hamburger__hidden::after {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #99FF1D;
  content: "";
  -webkit-transform: translate(102px, 0);
          transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}
/*
 * UI Form-group
 * 
 * Use this module to create things
 * like bottom margin to space out your 
 * forms or use to define states for your forms
 */
.form-group {
  margin-bottom: 15px;
}
.form-group--error {
  /* Error state ... */
}
/*
 * Pagination
 *
 * Define pagination component.
 *
 * Note: Uses nested selectors for 'laravels' 
 *       automatically generated pagination.
 *       
 */
.pagination {
  display: inline-block;
  /* Prevent user from selecting the UI element*/
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.pagination li {
  float: left;
  /* 
           Make sure that 'disabled' and
           'active' item has no hover effect 
         */
}
.pagination li.active a {
  background-color: #232323;
  color: #fff;
  cursor: default;
}
.pagination li.disabled a {
  cursor: not-allowed;
  background-color: #efefef;
}
.pagination li:not(.disabled):not(.active):hover a {
  background-color: #ccc;
}
.pagination a {
  display: block;
  padding: 10px 15px;
}
/*
 * Socials
 *
 * Create reusable social elements
 * use font icons which you define 
 * in 'components/_icon.less'.
 */
.socials {
  display: inline-block;
}
.socials__item {
  float: left;
  margin-right: 10px;
}
.socials__item--last {
  margin-right: 0;
}
.socials__link {
  display: block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  /* Font-icon */
}
.socials__link i {
  vertical-align: middle;
}
/*
 * Thumb
 *
 * Define thumb for things like
 * user-photo, comment-author-photo,
 * small image & e.t.c.
 *
 */
.thumb {
  background: #ccc no-repeat center;
  /* Fallback for IOS Safari 'cover' if possible else '100%' */
  background-size: 100%;
  background-size: cover;
  /* Sizing */
  /* Rounded variant */
}
.thumb--sm {
  width: 50px;
  height: 50px;
}
.thumb--md {
  width: 75px;
  height: 75px;
}
.thumb--lg {
  width: 100px;
  height: 100px;
}
.thumb--rounded {
  border-radius: 10px;
}
.thumb--circle {
  border-radius: 50%;
}
/* 
 * Animation
 *
 * Animation module to create
 * keyframes animations and classes which
 * refer to them.
 */
.anim {
  position: fixed;
  z-index: 9999;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
.animation {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.disabled {
  pointer-events: none;
}
.blocks-shadow {
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1);
}
/*
 * Utilities
 *
 * Here you include your utility modules
 * like text-align, centering, e.t.c
 */
/*
 * Centered
 *
 * Center 'abosulute' or 'relative' positioned
 * elements to center.
 *
 * Note: It uses css3 'translate' property
 */
.centered {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centered-y {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centered-x {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*
 * Img fluid
 *
 * Tiny helper module which creates fluid
 * images using max-width and height: auto
 */
.img-fluid {
  max-width: 100%;
  height: auto;
  /* Make sure that there are no space left */
  vertical-align: middle;
}
/*
 * Text alignment
 * 
 * Use this simple helper module to easily align
 * your Text or UI elements.
 */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/*
 * Spacer
 *
 * Fill this file with fast & responsive 
 * spacing classes with media queries
 *
 * Useful for things like layout padding which is
 * good for keeping padding and margins consistent throughout
 * your website
 *
 */
/*
 * Layout spacers
 */
/* Padding */
.p-layout {
  padding: 50px 50px;
}
.px-layout {
  padding-left: 50px;
  padding-right: 50px;
}
.py-layout {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pt-layout {
  padding-top: 50px;
}
.pr-layout {
  padding-right: 50px;
}
.pb-layout {
  padding-bottom: 50px;
}
.pl-layout {
  padding-left: 50px;
}
/* Margin */
.m-layout {
  margin: 50px 50px;
}
.mx-layout {
  margin-left: 50px;
  margin-right: 50px;
}
.my-layout {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mt-layout {
  margin-top: 50px;
}
.mr-layout {
  margin-right: 50px;
}
.mb-layout {
  margin-bottom: 50px;
}
.ml-layout {
  margin-left: 50px;
}
/* Media Queries */
/*
 * Zero spacers
 */
/* Padding */
.p-0 {
  padding: 0;
}
.px-0 {
  padding-right: 0;
  padding-left: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
/* Margin */
.m-0 {
  margin: 0;
}
.mx-0 {
  margin-right: 0;
  margin-left: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
/* Media Queries */
/*
 * Custom spacers
 */
/*
 * Visible-Hidden
 *
 * This module used for hiding and showing elements
 * at breakpoints only
 */
.visible-sm-block,
.visible-md-block,
.visible-lg-block,
.visible-sm-inline-block,
.visible-md-inline-block,
.visible-lg-inline-block {
  display: none;
}
@media (max-width: 768px) {
  .visible-sm-block {
    display: block;
  }
  .visible-sm-inline-block {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}
@media (max-width: 992px) {
  .visible-md-block {
    display: block;
  }
  .visible-md-inline-block {
    display: inline-block;
  }
  .hidden-md {
    display: none;
  }
}
@media (max-width: 1200px) {
  .visible-lg-block {
    display: block;
  }
  .visible-lg-inline-block {
    display: inline-block;
  }
  .hidden-lg {
    display: none;
  }
}
/*
 * No flicker
 *  
 * Little utility helper when applied removes
 * weird flicker in -webkit- browsers
 * when using css3 transitions 
 */
.no-flick {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.redactor-content p {
  font-size: 17px;
  line-height: 1.4;
  padding-bottom: 10px;
}
.redactor-content img {
  vertical-align: middle;
  max-width: 100% !important;
  height: auto !important;
}
.redactor-content ul {
  padding-left: 40px;
  list-style: circle;
}
.redactor-content ol {
  padding-left: 40px;
}
.redactor-content li {
  font-size: 17px;
}
.redactor-content a {
  color: blue;
  font-weight: 700;
}
.redactor-content a:hover {
  text-decoration: underline;
}
.redactor-content b,
.redactor-content strong {
  font-weight: 700;
}
.redactor-content table {
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border: 0;
  overflow: auto;
}
.redactor-content tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.redactor-content th,
.redactor-content td {
  padding: 15px;
  border: 0;
  border: 1px solid gray;
}
/*
 * Text color
 *
 * Define fast text coloring classes
 */
.text-white {
  color: #fff;
}
.text-black {
  color: #232323;
}
/*
 * Background Color
 *
 * Define fast background coloring classes
 */
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: #232323;
}
/*
 * Position
 *  
 * Helper module to easily set
 * position and z-index of elements.
 */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* 
 * Z-Index from 0-3 
 */
.z-index-0 {
  z-index: 0;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
/*
 * Display type 
 *
 * Display type utility which
 * has responsive breakpoints 
 */
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
@media (max-width: 1200px) {
  .display-lg-block {
    display: block;
  }
  .display-lg-inline-block {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .display-md-block {
    display: block;
  }
  .display-md-inline-block {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .display-sm-block {
    display: block;
  }
  .display-sm-inline-block {
    display: inline-block;
  }
}
.clearfix {
  clear: both;
  content: "";
  display: table;
}
/*
 * Float
 *
 * Floating helper classes
 */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
